APP_NAME=GlobalSoft
APP_ENV=local
APP_KEY=base64:FAY8fhqURo9nOeGy+1uyhSe+mSeuCnWA/VAcC6rGMyg=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=cclamor_asociadosrelacional
DB_USERNAME=cclamor_transaccional
DB_PASSWORD=OeKI$@R]zs]$

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=sendmail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=secretariagerencia@cclam.org.pe
MAIL_PASSWORD=divakcdeczjbvaoo
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=secretariagerencia@cclam.org.pe
MAIL_FROM_NAME="CCLAM - ${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

APP_NUBEFACT_ROUTE=https://api.nubefact.com/api/v1/bae4940a-cfd7-4b15-a2cd-8a5273df19bc
APP_NUBEFACT_KEY_109=af0e6f0362ba4fdcaa14671602c1dde596bc0e7b7de7423080e1bdede41dd36e
APP_NUBEFACT_KEY_108=7598dfebf1ca4c41899126de40ac8723d10676912b1d45cb8cec69ec2a9efe31

APP_GS_LINK="https://cclam.org.pe/gs/public/"
IZI_KEY=NjMwODQ1OTk6cHJvZHBhc3N3b3JkX2JKV0JlVUFZQzV5cjRESVJ2VUVhSDZPZnlPUkp0UzB6NXdtUkI2ckJ4ckh1ZQ==
CAPTCHA_SECRET=6LeFeYYbAAAAAE_aSZBFecCPDM8NPyBScfOZC9rM
